html
  head
    title Sinomim Home
    link(href='/css/css-reset.css', rel='stylesheet')
    link(href='/css/styles.css', rel='stylesheet')
  body
    header
      img#logo(src='/images/Logo1.png')
      ul#navbar
        li.navtab: a(href="/") Home
        li.navtab: a(href="nameList") Market
        li.navtab: a(href="about") About
        li.navtab: a(href="profile/") Profile 
        //-need to get who is logged in here
    h1#homeTitle.importantText Sinonmim
    h4#homeDesc.importantText The Name Trade Station
    section#exploreBtn.btnStyle.importantText Explore