html
  head
    title Sinomim Home
    link(href='/css/css-reset.css', rel='stylesheet')
    link(href='/css/styles.css', rel='stylesheet')
    link(href='/css/indexStyle.css', rel='stylesheet')
  body
    header.flexRow
      section#logoHold
        a(href='/')
          img#logo(src='/images/Logo1.png')
      ul#navbar
        a.navtab(href="/"): li Home
        a.navtab.unselectedTab(href="nameList"): li Market
        a.navtab.unselectedTab(href="about"): li About
        a.navtab.unselectedTab(href="../login"): li Profile 
    h1#homeTitle.center-text.importantText Sinomim
    h4#homeDesc.center-text.importantText The Name Trade Station
    a(href="nameList"): section#exploreBtn.btnStyle.importantText Explore