extends layout

block moreCss
  link(href='css/indexStyle.css', rel='stylesheet')

block nav
  ul#navbar
    a.navtab(href="/"): li Home
    a.navtab.unselectedTab(href="/nameList"): li Market
    a.navtab.unselectedTab(href="/bargains"): li Bargains
    a.navtab.unselectedTab(href="/login"): li Profile

block content
  #allContent
    #supported
      p We only support Steam currently. More to come!
    h1#homeTitle.center-text.importantText Sinomim
    h4#homeDesc.center-text.importantText The Name Trade Station
    a#exploreBtn.btnStyle(href='nameList') Explore
  script(src='scripts/anime.min.js')
  script(src='scripts/indexPage.js')