extends layout

block moreCss
  link(href='/css/purchaseStyle.css', rel='stylesheet')

block nav
  ul#navbar
    a.navtab.unselectedTab(href="/"): li Home
    a.navtab(href="/nameList"): li Market
    a.navtab.unselectedTab(href="/bargains"): li Bargains
    a.navtab.unselectedTab(href="/login"): li Profile 

block content
  form(action=`/bargainOffer/${user._id}`, method="post")
    h1.importantText.center-text=user.nickname
    #info.flexRow.marginAuto
      .flexCol
        h2.center-text Price
        p.center-text='$'+user.price.toFixed(2)
      .flexCol
        h2.center-text Platform
        p.center-text=user.platform
    h2#yourOffer.center-text Your offer
    #bargainInput.marginAuto
      input#bargainOffer(type='input', name='bargain', placeholder='Put your offer for the username here', autocomplete='off')
      input.btnStyle.importantText(type='submit', value='Confirm')