body {
  display: flex;
  flex-direction: column;
}
header {
  flex: 0 1 40px;
}
h1 {
  font-size: 40px;
}
h2 {
  font-size: 28px;
}

.buyTab {
  margin: auto 0%;
}
.buyTab h1 {
  margin-bottom: 5%;
}
.bidTab {
  margin: auto 0%;
}
.bidTab h1 {
  margin-bottom: 2%;
}
.offerBtn {
  width: 16%;
  padding: 10px;
  margin: auto 0%;
  margin-left: 10%;
  font-size: 30;
}
.offerBtn:first-child {
  margin-left: 29%;
}

#detailPage {
  flex: 1 0 auto;
  display: flex;
  flex-direction: column;
}
#nameInfo {
  flex: 70;
  display: flex;
  flex-direction: row;
  margin-top: 1%; 
}
#nameDetails {
  flex: 1;
  display: flex;
  flex-direction: column;
  margin-left: 2%;
}
#nameBargains {
  flex: 1;
  text-align: right;
  margin-right: 2%;
}
#nameOffers {
  flex: 30;
  display: flex;
  flex-direction: row;
}
