header {
  flex: 0 1 40px;
}
h1 {
  font-size: 40px;
}
h2 {
  font-size: 28px;
}

.buyTab {
  margin: auto 0%;
}
.bidTab {
  margin: auto 0%;
}
.bidTab h1 {
  margin-bottom: 2%;
}
.offerBtn {
  width: 30%;
  padding: 10px;
  font-size: 30;
}
.bargainCell {
  height: 31px;
}

#detailPage {
  flex: 1 0 auto;
}
#nameInfo {
  flex: 70;
  margin-top: 1%; 
}
#nameDetails {
  flex: 1;
  margin-left: 2%;
}
#nameBargains {
  flex: 1;
  text-align: right;
  margin-right: 2%;
}
#nameOffers {
  flex: 0 1 auto;
  width: 40%;
  margin-bottom: 2%;
  justify-content: space-between;
}
#nameOffersLogin {
  width: 30%;
  margin: 1% auto;
  justify-content: space-between;
}
#loginTxt {
  margin: auto 0%;
}
#login {
  padding: 3px 7px;
}