input::placeholder {
  font-family: Copperplate,Copperplate Gothic Light,fantasy;
  font: bolder;
  text-align: center;
}
header {
  flex: 0 1 40px;
}

.errorMsg {
  padding: 3px;
  background-color: #f66;
  border-radius: 10px;
}
.signUpRow {
  width: 50%;
  margin: 0% auto;
}
.loginInput {
  width: 30%;
  padding: 5px;
  margin: 2% auto;
}

#errorField {
  flex: 0 1 30%;
}
#loginArea {
  flex: 1 1 auto;
}
#loginSignup {
  display: flex;
  flex-direction: row;
  width: 35%;
  margin-top: 3%;
}
#capsWarn {
  display: none;
  width: fit-content;
  margin: 0% auto;
}
#logIn {
  width: fit-content;
  padding: 14px;
  margin-right: auto;
  border: 0;
}
#noAccount {
  justify-content: space-between;
}
#signUp {
  width: fit-content;
  padding: 4px;
}