header {
  flex: 0 1 40px;
}
table {
  height: auto;
  width: 100%;
  border-collapse: collapse;
}
input::placeholder {
  font-family: Copperplate,Copperplate Gothic Light,fantasy;
  font: bolder;
  text-align: center;
}

.btnStyle {
  padding: 1%;
}
.changeBtn {
  height: fit-content;
  width: fit-content;
  padding: 4px 7px;
  margin: auto 1%;
}
.textWithBtn {
  height: fit-content;
  margin: auto 0% auto auto;
}
.tableTitle {
  font-weight: bold;
}
.userInfoRow, .userEdit {
  justify-content: center;
}
.emailInput, .passInput {
  width: 70%;
}
.dangerous {
  margin: .5% auto;
  height: fit-content;
  width: fit-content;
  padding: 8px 14px;
}

#userHold {
  flex: 1 1 auto;
  margin: 0% 1%;
}
#userInfo, #userTables {
  flex: 1;
  justify-content: space-around;
}
#transactionTitle, #ownedTitle {
  justify-content: center;
}
#transactionTable, #ownedTable {
  flex: 1;
}
#emailChangeForm, #passChangeForm, #addNameForm, #displayAllNames, #displayAllTransactions {
  display: none;
  flex-direction: column;
  position: fixed;
  height: 70%;
  width: 50%;
  background-color: #fff;
  border: 2px solid #000;
  border-radius: 6px;
  top: 15%;
  right: 25%;
  z-index: 2;
  text-align: center;
  justify-content: space-evenly;
}
#auctionPart {
  display: none;
  justify-content: space-around;
}
#addNameSubmit, #emailChangeSubmit, #passChangeSubmit {
  width: fit-content;
}
#addNameSubmit {
  padding: 3px 5px;
}
#notificationBox {
  flex: 0 1 36px;
  text-align: center;
}
#notificationBox a {
  height: fit-content;
  margin-right: auto;
}
#noOffers {
  margin: auto;
}
#dangerousOptions {
  flex: 0 1 fit-content;
}
#errorField {
  display: none;
  position: absolute;
  top: 5%;
  left: 0;
  right: 0;
  width: fit-content;
  margin: 0% auto;
  padding: 3px;
  background-color: #f66;
  border-radius: 10px;
}
#logOut {
  display: flex;
}