body {
  height: 100vh;
  font-family: Copperplate,Copperplate Gothic Light,fantasy;
}
a {
  color: #000;
  text-decoration: none;
}
h1 {
  font-size: 40px;
}
h2 {
  font-size: 28px;
}
h4 {
  font-size: 20px;
}
input {
  font-family: Copperplate,Copperplate Gothic Light,fantasy;
}
input:focus, select:focus, textarea:focus, button:focus {
  outline: none;
}
table {
  empty-cells: show;
}
table, th, td {
  font-size: 20px;
  padding: 5px;
  border: 1px solid black;
}

.flexRow {
  display: flex;
  flex-direction: row;
}
.flexCol {
  display: flex;
  flex-direction: column;
}
.btnStyle {
  text-align: center;
  font-size: 20px;
  background-color: #00c97c;
  transition: background-color .4s;
  cursor: pointer;
  user-select: none;
  border-radius: 6px;
}
.btnStyle:hover {
  font-weight: bold;
}
.navtab {
  display: flex;
  width: 25%;
  list-style-type: none;
  border: 2px solid #000;
  border-bottom-width: 0px;
  border-radius: 17px 0px 0px 0px;
  background-color: #00e8ab; 
  justify-content: center;
  align-items: center;
}
.navtab:hover {
  font-weight: bold;
}
.importantText {
  font-weight: bold;
}
.unselectedTab {
  border-bottom: 2px solid #000;
  background-color: #00c97c; 
}
.center-text {
  text-align: center;
}
.marginAuto {
  margin: 0% auto;
}

#logoHold {
  flex: 40;
  border-bottom: 2px solid #000;
  height: 38px;
}
#logo {
  height: 30px;
  margin: 5px;
  margin-right: auto;
  width: auto;
}
#navbar {
  display: flex;
  flex-direction: row;
  flex: 60;
  height: 40px;
}
#notificationBox {
  height: 36px;
  background-color: #00e8ab;
}